# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
*.egg
.env
.venv
env/
venv/
ENV/
env.bak/

# Scripts (keep scripts directory, ignore compiled files)
scripts/__pycache__/

# Airflow
logs/
plugins/__pycache__/
dags/__pycache__/
airflow.cfg
unittests.cfg


# Data files
data/
*.csv
*.csv.gz
*.parquet
*.json

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.bak
pgdata/
pgadmin-data/
__pycache__/
